<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Madison Queer Liberation March</title>
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
    {% block head %} {% endblock head %}
</head>

<body>
    <header>
        <div class="header-container">
            <a id="home" href="/">
                <!--TODO: logo-->
                <img height="108px" width="108px" alt="Madison QLM logo">
                <h1>Madison Queer Liberation March</h1>
            </a>
            <div>
                <a class="header-link" href="/about">About</a>
                <a class="header-link" href="/events">Events</a>
                <a class="header-link" href="/contact">Contact</a>
            </div>
        </div>
    </header>
    <main>
        {% block content %} {% endblock content %}
    </main>
</body>

</html>