{% extends "base.html" %}

{% block head %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>
<script src='https://github.com/mozilla-comm/ical.js/releases/download/v1.4.0/ical.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@6.1.20/index.global.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'listMonth',
            events: {
                url: 'https://calendar.proton.me/api/calendar/v1/url/eKPcvuKIl3ADAbzw1HP5MNyD4Yz2wh9I95m4c7IZb9GbwJJ0NjH-sZYYmLgpcRzbVW5eVmBGtu4RW1bTwDMKCA==/calendar.ics?CacheKey=LLquUihpVp5CdmL6vjHhxA%3D%3D&PassphraseKey=Kg7QHczodSHzSUZQQQd2xIeUIgW4WfytRbnHwncLbLw%3D',
                format: 'ics'
            }
        });
        calendar.render();
    });

</script>
{% endblock head %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>
<div id="calendar"></div>
{% endblock content %}