{% extends "base.html" %}

{% block head %}
    <meta property="og:type" content="website" />
{% endblock head %}

{% block content %}

<div id="index-content">
    {{ section.content | safe }}
</div>

<h1>Announcements <a href="/atom.xml"><img src="/img/social_style_3_rss-512-1.png" height="28px"></a></h1>

<!-- If you are using pagination, section.pages will be empty.
      You need to use the paginator object -->
{% for page in section.pages %}
<div class="card">
    <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
    <span class="post-date">{{ page.date }}</span>
    <div class="card-content">
        {{ page.content | safe }}
    </div>
</div>
{% endfor %}

{% endblock content %}